.other-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(42, 42, 42, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.other-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
}

.other-popup-inner .other-close-btn {}
